@import "tailwindcss";
@import "@fontsource/sora/600.css";
@import "@fontsource/sora/700.css";
@theme {

  --color-text: #eaebed;
  --color-background: #191919;
  --color-primary: #a9b8ce;
  --color-secondary: #375076;
  --color-accent: #537ebf;
}
:root{
	background: #0f1115;
}

.logo {
    font-family: "Sora", sans-serif;
}


